:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
    --lexend-deca: "Lexend Deca";
    --big-shoulders: "Big Shoulders Display";
}

*{
    box-sizing: border-box;
}

.none{
    display: none;
}

body {
    display: grid;
    min-height: 100vh;
    margin: 0;
    font-size: 15px;
    color: var(--very-light-gray);
    font-family: var(--lexend-deca), sans-serif;
    padding: 7em 0;
}

.title {
    font-family: var(--big-shoulders), sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
}

.brands-list {
    padding-left: 0;
    margin: auto;
    border-radius: 0.5em;
    overflow: hidden;
}

.brands-list> :first-child {
    background-color: var(--bright-orange);
}

.brands-list> :nth-child(2) {
    background-color: var(--dark-cyan);
}

.brands-list> :last-child {
    background-color: var(--very-dark-cyan);
}

.card {
    height: 470px;
    max-width: 328px;
    padding: 3em;
    display: grid;
    box-sizing: border-box;
}

.paragraph {
    color: var(--transparent-white);
    line-height: 200%;
}

.button {
    padding: 1em 2em;
    place-self: baseline;
    font-family: inherit;
    border-radius: 1.5em;
    border-color: transparent;
    cursor: pointer
}

.btn-1 {
    color: var(--bright-orange);
}

.btn-2 {
    color: var(--dark-cyan);
}

.btn-3 {
    color: var(--very-dark-cyan);
}

@media only screen and (min-width:990px) {
    .button:hover {
        border: 2px solid;
        color: var(--very-light-gray);
        background-color: transparent;
        transition: background-color .3s linear;
    }
    .brands-list {
        display: flex;
    }
}

/* .attribution {
    bottom: 0;
    position: relative;
    color: initial;
    font-size: 14px;
    text-align: center;
    font-family: var(--big-shoulders), sans-serif;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration-line: none;
} */